@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

.profile-container {
  background-image: url('../images/profile.png');
  background-size: contain;
  background-position: center center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: normal;
}

main {
  min-width: 300px;
}

header {
  background-color: rgb(249, 247, 251);
  box-shadow: 0px 3px 4px rgba(245, 243, 243, 0.142);
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  align-items: center;
  position: relative;
  height: 10vh;
}

.profile-container {
  width: 3rem;
  height: 3rem;
  background-color: rgb(255, 241, 115);
  border-radius: 5rem;
  margin-right: 1rem;
  margin-right: auto;
  position: absolute;
  left: 2rem;
  /* border: 0.2px solid rgba(0, 0, 0, 0.115); */
}

.chat-container {
  background-color: #d7e4f2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
}

.chat-container::-webkit-scrollbar {
  width: 1.2rem;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #00000036;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 100px;
}

.bubble {
  width: max-content;
  max-width: 60%;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;

  transform: translateY(-100%);
  opacity: 0;
}

*::selection {
  background-color: rgb(152, 174, 255);
}

.bot-bubble {
  background-color: rgb(249, 247, 251);
  margin-right: auto;
  border-bottom-left-radius: 0;
}
.bot-bubble:active {
  background-color: rgb(209, 209, 209);
}

.my-bubble {
  background-color: #fef01b;
  margin-left: auto;
  border-bottom-right-radius: 0;
  /* transform: translateY(-100%);
  opacity: 0; */
}
.my-bubble:active {
  background-color: #e7d800;
}

/*μΈν’‹*/

.input-container {
  height: 10vh;
}

form {
  display: flex;
  width: 100%;
  height: 10vh;
}

#send-textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 3px;
  resize: none;
}

#send-btn {
  font-size: 1.3rem;
  width: 50%;
  max-width: 5rem;
  border: none;
  outline: none;
  margin: 0.5rem;
  margin-left: 0;
  border-radius: 3px;
  transition: 0.1s;
  background-color: #4a90e2;
  color: white;
}

#send-btn:active {
  background-color: #005cc6;
  color: white;
}

.send-bubble {
  transition: 0.2s;
  transform: translateY(0%);
  opacity: 1;
}
